﻿.twhite {
    color: #fff;
}
/* Breadcum bar */
.bg-grey {
    background: #efefef
}
body {
    display: flex !important;
}
div.container.left {
    display: flex;
    width: 400px;
    justify-content: space-between;
    max-width: none !important;
}
.breadcrumb {
    background: none;
    margin: 0;
    font-weight: 300;
    padding-left: 0;
    font-size: 13px;
}

    .breadcrumb a {
        color: #999;
    }

    .breadcrumb > .active {
        color: #696969;
    }

    .breadcrumb > li + li::before {
        content: "\203A";
        color: #999;
        padding: 0 8px;
    }
