﻿<!DOCTYPE html>
<html>
<head>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/js/Profile.js"></script>
    <link href="~/css/Profile.css" rel="stylesheet">


    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css"
          integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">


</head>
<body>
    <nav id="sticker" class="navbar navbar-inverse" style="position: unset !important;">
        <div class="container">
            <div class="navbar-header">
                <a class="menu"><i class="fa fa-bars" id="menu_icon"></i></a>

            </div><!--navbar-header close-->
            <div class="collapse navbar-collapse drop_menu" id="content_details">


                <ul class="nav navbar-nav navbar-right">



                    <li><a href="#"><span class="glyphicon glyphicon-font"></span> About Us</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-phone"></span> What We Do</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Contact Us</a></li>




                </ul><!--navbar-right close-->
            </div><!--collapse navbar-collapse drop_menu close-->
        </div><!--container-fluid close-->
    </nav><!--navbar navbar-inverse close-->
    <!--search box-->
    <div class="container col-lg-12" style="margin-top: 1%;">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Search Section</h4>
                    </div>
                    <div class="modal-body">


                        <section class="search-box1" id="panel">
                            <div class="container">
                                <form class="form-inline" role="form">
                                    <div class="col-sm-8 col-xs-8 form-group top_search" style="padding-right:0px;">
                                        <div class="row">
                                            <label class="sr-only" for="search">Search here...</label>
                                            <span class="serach-footer"><img src="images/srch.png" /></span>
                                            <input type="text" class="form-control search-wrap" id="search" placeholder="Search here...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-4 form-group top_search" style="padding-left:0px;">
                                            <button type="submit" class="btn btn-default search-btn">SEARCH</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>

                    </div>

                </div>
            </div>

        </div>
    </div>


    @RenderBody()
   
    
  

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
