﻿<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href=~/css/profile.css rel="stylesheet">




<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css"
      integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">

<nav id="sticker" class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="menu"><i class="fa fa-bars" id="menu_icon"></i></a>

        </div><!--navbar-header close-->
        <div class="collapse navbar-collapse drop_menu" id="content_details">
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-area="" asp-controller="Home" asp-action="Profile">Profile</a></li>
                <li><a asp-area="" asp-controller="User" asp-action="Search">Find Friends</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>



            </ul><!--navbar-right close-->
        </div><!--collapse navbar-collapse drop_menu close-->
    </div><!--container-fluid close-->
</nav><!--navbar navbar-inverse close-->
<!--search box-->
@RenderBody()
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
<input type="hidden" id="hiddenUrlUpdate" data-target=@Url.Action("UpdateStatus","User")
<script>
    function updateStatus() {
        $.ajax({
            url: $("hiddenUrlUpdate").attr('data-target'),
            type: "POST",
            error: function () {
                updateStatus();
            }
        })
    }
    SetInterval(updateStatus, 30000);
</script>

