﻿@model FinalTask.WEB.ViewModels.LoginViewModel;
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="" id="loginModal">

                <div class="modal-body">
                    <div class="well">

                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane active in" id="login">

                                <form class="form-horizontal" asp-action="ForgotPassword" asp-controller="Home" asp-antiforgery="true" method="post">
                                    <fieldset>
                                        <div id="legend">
                                            <legend class="">Login</legend>
                                        </div>
                                        <div class="control-group">
                                            <!-- Email -->
                                            <div>
                                                <label asp-for="Email"></label>
                                                <input type="text" asp-for="Email" />
                                                <span asp-validation-for="Email"></span>
                                            </div>
                                        </div>

                                        
                                        <div class="control-group">

                                            <div class="controls">

                                                <input type="submit" value="Login" />

                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


