﻿@{
    ViewData["Title"] = "Home Page";
    Layout ="_Layout";
}




<body>
    
    <ul class="nav navbar-nav navbar-left">
        <input type="button" value="Create" onclick="location.href='@Url.Action("Create", "User")'" />
        <input type="button" title="Create" value="Create" onclick="location.href='@Url.Action("Create", "Products")'" />
        <li><a asp-area="" asp-controller="Home" asp-action="Registration">Registration</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>

    </ul>

</body>


