﻿@model FinalTask.WEB.ViewModels.RegistrationViewModel;


<link href=~/css/register.css rel="stylesheet" id="bootstrap-css">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="" id="loginModal">

                <div class="modal-body">
                    <div class="well">

                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane active in" id="login">

                                <form class="form-horizontal" asp-action="Registration" asp-controller="Home" asp-antiforgery="true">
                                    <fieldset>
                                        <div id="legend">
                                            <legend class="">Registration</legend>
                                        </div>


                                        <div class="control-group">
                                            <!-- Name-->

                                            <div>
                                                <label asp-for="Name"></label>
                                                <input type="text" asp-for="Name" />
                                                <span asp-validation-for="Name"></span>
                                            </div>
                                        </div>


                                        <div class="control-group">
                                            <!--Email-->

                                            <div>
                                                <label asp-for="Email"></label>
                                                <input type="text" asp-for="Email" />
                                                <span asp-validation-for="Email"></span>
                                            </div>
                                        </div>


                                        <div class="control-group">
                                            <!--Email-->

                                            <div>
                                                <label asp-for="Date"></label>
                                                <input type="date" asp-for="Date" />
                                                <span asp-validation-for="Date"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <!-- Password-->

                                            <div>
                                                <label asp-for="Password"></label>
                                                <input type="password" asp-for="Password" />
                                                <span asp-validation-for="Password"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <!-- Interests-->

                                            <div>
                                                <label asp-for="Interests"></label>
                                                <input type="text" asp-for="Interests" />
                                                <span asp-validation-for="Interests"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <!-- Weight-->

                                            <div>
                                                <label asp-for="Weight"></label>
                                                <input type="text" asp-for="Weight" />
                                                <span asp-validation-for="Weight"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <!-- Height-->

                                            <div>
                                                <label asp-for="Height"></label>
                                                <input type="text" asp-for="Height" />
                                                <span asp-validation-for="Height"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div>
                                                <label asp-for="Gender"></label>
                                                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<EnumUser.Gender>()"></select>
                                                <span asp-validation-for="Gender"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div>
                                                <label asp-for="PurposeOfDating"></label>
                                                <select asp-for="PurposeOfDating" asp-items="Html.GetEnumSelectList<EnumUser.PurposeOfDating>()"></select>
                                                <span asp-validation-for="PurposeOfDating"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div>
                                                <label asp-for=" MaritalStatus"></label>
                                                <select asp-for=" MaritalStatus" asp-items="Html.GetEnumSelectList<EnumUser. MaritalStatus>()"></select>
                                                <span asp-validation-for=" MaritalStatus"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div>
                                                <label asp-for="Education"></label>
                                                <select asp-for="Education" asp-items="Html.GetEnumSelectList<EnumUser.Education>()"></select>
                                                <span asp-validation-for="Education"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div>
                                                <label asp-for="Nationality"></label>
                                                <select asp-for="Nationality" asp-items="Html.GetEnumSelectList<EnumUser.Nationality>()"></select>
                                                <span asp-validation-for="Nationality"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div>
                                                <label asp-for="ZodiacSign"></label>
                                                <select asp-for="ZodiacSign" asp-items="Html.GetEnumSelectList<EnumUser.ZodiacSign>()"></select>
                                                <span asp-validation-for="ZodiacSign"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div>
                                                <label asp-for="Languages"></label>
                                                <select asp-for="Languages" asp-items="Html.GetEnumSelectList<EnumUser.Languages>()"></select>
                                                <span asp-validation-for="Languages"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div>
                                                <label asp-for="BadHabits"></label>
                                                <select asp-for="BadHabits" asp-items="Html.GetEnumSelectList<EnumUser.BadHabits>()"></select>
                                                <span asp-validation-for="BadHabits"></span>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div>
                                                <label asp-for="Financial"></label>
                                                <select asp-for="Financial" asp-items="Html.GetEnumSelectList<EnumUser.Financial>()"></select>
                                                <span asp-validation-for="Financial"></span>
                                            </div>
                                        </div>




                                        <div class="control-group">

                                            <div class="controls">

                                                <input type="submit" value="Registration" />

                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

