﻿@model FinalTask.WEB.ViewModels.SearchViewModel
<link href="~/css/search.css" rel="stylesheet">
<html>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">



<div class="container left">
    <div class="row">
        <div class="col-md-3 bg-secondary">
            <div class="filter-sidebar">
                <div class="row card-body py-2 mb-3 bg-dark twhite">
                    <h4> Search Friends</h4>

                </div>
                <form class="form-horizontal main_form text-left" asp-action="Search" asp-controller="User" method="post" enctype="multipart/form-data" asp-antiforgery="true">

                    <div class="form-group">

                        <label asp-for="FromAge"></label>
                        <input type="number" asp-for="FromAge" />
                        <span asp-validation-for="FromAge"></span>

                    </div>

                    <div class="form-group">

                        <label asp-for="ToAge"></label>
                        <input type="number" asp-for="ToAge" />
                        <span asp-validation-for="ToAge"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Gender"></label>
                        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<EnumUser.Gender>()"></select>
                        <span asp-validation-for="Gender"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PurposeOfDating"></label>
                        <select asp-for="PurposeOfDating" asp-items="Html.GetEnumSelectList<EnumUser.PurposeOfDating>()"></select>
                        <span asp-validation-for="PurposeOfDating"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaritalStatus"></label>
                        <select asp-for="MaritalStatus" asp-items="Html.GetEnumSelectList<EnumUser.MaritalStatus>()"></select>
                        <span asp-validation-for="MaritalStatus"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Education"></label>
                        <select asp-for="Education" asp-items="Html.GetEnumSelectList<EnumUser.Education>()"></select>
                        <span asp-validation-for="Education"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nationality"></label>
                        <select asp-for="Nationality" asp-items="Html.GetEnumSelectList<EnumUser.Nationality>()"></select>
                        <span asp-validation-for="Nationality"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ZodiacSign"></label>
                        <select asp-for="ZodiacSign" asp-items="Html.GetEnumSelectList<EnumUser.ZodiacSign>()"></select>
                        <span asp-validation-for="ZodiacSign"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Languages"></label>
                        <select asp-for="Languages" asp-items="Html.GetEnumSelectList<EnumUser.Languages>()"></select>
                        <span asp-validation-for="Languages"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BadHabits"></label>
                        <select asp-for="BadHabits" asp-items="Html.GetEnumSelectList<EnumUser.BadHabits>()"></select>
                        <span asp-validation-for="BadHabits"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Financial"></label>
                        <select asp-for="Financial" asp-items="Html.GetEnumSelectList<EnumUser.Financial>()"></select>
                        <span asp-validation-for="Financial"></span>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Find Now</button>
                </form> 
                    <div class="pb-3"
          </div>
</div>
        </div>
    </div>
</div>
</div>
