﻿@using FinalTask.WEB.Extension.EnumExtension
@model FinalTask.WEB.ViewModels.UserProfileViewModel
@{
    Layout = "_User";
    ViewData["Title"] = "Profile";
}



<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Search Section</h4>
                </div>
                <div class="modal-body">


                   

                </div>

            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>






<section>
    <div class="container" style="margin-top: 30px;">
        <div class="profile-head">
            <div class="col-md- col-sm-4 col-xs-12">
                <img class="img-responsive" src=@Model.Path />

            </div><!--col-md-4 col-sm-4 col-xs-12 close-->

            <div class="col-md-5 col-sm-5 col-xs-12">
                <h5>@Model.Name</h5>

                <ul>
                    <li> Email:@Model.Email</li>
                    <li> DateofBirth:@Model.Date.ToString("dd.MM.yyyy")</li>
                </ul>

            </div>


        </div><!--profile-head close-->
    </div><!--container close-->

    <div id="sticky" class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-menu" role="tablist">
            <li class="active">
                <a href="#profile" role="tab" data-toggle="tab">
                    <i class="fa fa-male"></i> Profile
                </a>
            </li>
            <li>
                <a href="#change" role="tab" data-toggle="tab">
                    <i class="fa fa-key"></i> Edit Profile
                </a>
            </li>
        </ul><!--nav-tabs close-->
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade active in" id="profile">
                <div class="container">
                    <div class="col-sm-11" style="float:left;">
                        <div class="hve-pro">
                            <p>
                                Interests: @Model.Interests
                            </p>
                        </div><!--hve-pro close-->
                    </div><!--col-sm-12 close-->
                    <br clear="all" />
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="pro-title">Bio Graph</h4>
                        </div><!--col-md-12 close-->

                        <div class="col-md-6">
                            <div class="table-responsive responsiv-table">
                                <table class="table bio-table">
                                    <tbody>
                                        <tr>
                                            <td>Height</td>
                                            <td>:@Model.Height</td>
                                        </tr>
                                        <tr>
                                            <td>Weight</td>
                                            <td>:@Model.Weight</td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>:@EnumToString.GetDisplayName(Model.Gender) </td>
                                        </tr>
                                        <tr>
                                            <td>PurposeOfDating</td>
                                            <td>:@EnumToString.GetDisplayName(Model.PurposeOfDating)</td>
                                        </tr>
                                        <tr>
                                            <td> MaritalStatus</td>
                                            <td>:@EnumToString.GetDisplayName(Model.MaritalStatus)</td>
                                        </tr>
                                        <tr>
                                            <td> Education</td>
                                            <td>:@EnumToString.GetDisplayName(Model.Education)</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div><!--table-responsive close-->
                        </div><!--col-md-6 close-->
                        <div class="col-md-6">
                            <div class="table-responsive responsiv-table">
                                <table class="table bio-table">
                                    <tbody>
                                        
                                        <tr>
                                            <td>Nationality</td>
                                            <td>:@EnumToString.GetDisplayName(Model.Nationality)</td>
                                        </tr>
                                        <tr>
                                            <td>ZodiacSign</td>
                                            <td>:@EnumToString.GetDisplayName(Model.ZodiacSign)</td>
                                        </tr>
                                        <tr>
                                            <td>Languages</td>
                                            <td>:@EnumToString.GetDisplayName(Model.Languages)</td>
                                        </tr>
                                        <tr>
                                            <td>BadHabits</td>
                                            <td>:@EnumToString.GetDisplayName(Model.BadHabits)</td>

                                        </tr>
                                        <tr>
                                            <td>Financial</td>
                                            <td>:@EnumToString.GetDisplayName(Model.Financial)</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div><!--table-responsive close-->
                        </div><!--col-md-6 close-->
                    </div><!--row close-->


                </div><!--container close-->
            </div><!--tab-pane close-->


            <div class="tab-pane fade" id="change">
                <div class="container fom-main">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="register">Edit Profile</h2>
                        </div>
                    </div>

                    <div class="row">
                        <form class="form-horizontal main_form text-left" asp-action="EditProfile" asp-controller="User" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                            <fieldset>


                                <!-- Text input-->
                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <label asp-for="Name"></label>
                                            <input type="text" asp-for="Name" />
                                            <span asp-validation-for="Name"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <label asp-for="Date"></label>
                                            <input type="date" asp-for="Date" />
                                            <span asp-validation-for="Date"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <label asp-for="Password"></label>
                                            <input type="password" asp-for="Password" />
                                            <span asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <label asp-for="OldPassword"></label>
                                            <input type="password" asp-for="OldPassword" />
                                            <span asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <label asp-for="Height"></label>
                                            <input type="number" asp-for="Height" />
                                            <span asp-validation-for="Height"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <label asp-for="Weight"></label>
                                            <input type="number" asp-for="Weight" />
                                            <span asp-validation-for="Weight"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <label asp-for="Interests"></label>
                                            <input type="text" asp-for="Interests" />
                                            <span asp-validation-for="Interests"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <label asp-for="Date"></label>
                                            <input type="date" asp-for="Date" />
                                            <span asp-validation-for="Date"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">

                                            <label asp-for="Gender"></label>
                                            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<EnumUser.Gender>()"></select>
                                            <span asp-validation-for="Gender"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">

                                            <label asp-for="PurposeOfDating"></label>
                                            <select asp-for="PurposeOfDating" asp-items="Html.GetEnumSelectList<EnumUser.PurposeOfDating>()"></select>
                                            <span asp-validation-for="PurposeOfDating"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">

                                            <label asp-for="MaritalStatus"></label>
                                            <select asp-for="MaritalStatus" asp-items="Html.GetEnumSelectList<EnumUser.MaritalStatus>()"></select>
                                            <span asp-validation-for="MaritalStatus"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">

                                            <label asp-for="Education"></label>
                                            <select asp-for="Education" asp-items="Html.GetEnumSelectList<EnumUser.Education>()"></select>
                                            <span asp-validation-for="Education"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">

                                            <label asp-for="Nationality"></label>
                                            <select asp-for="Nationality" asp-items="Html.GetEnumSelectList<EnumUser.Nationality>()"></select>
                                            <span asp-validation-for="Nationality"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">

                                            <label asp-for="ZodiacSign"></label>
                                            <select asp-for="ZodiacSign" asp-items="Html.GetEnumSelectList<EnumUser.ZodiacSign>()"></select>
                                            <span asp-validation-for="ZodiacSign"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">

                                            <label asp-for="Languages"></label>
                                            <select asp-for="Languages" asp-items="Html.GetEnumSelectList<EnumUser.Languages>()"></select>
                                            <span asp-validation-for="Languages"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">

                                            <label asp-for="BadHabits"></label>
                                            <select asp-for="BadHabits" asp-items="Html.GetEnumSelectList<EnumUser.BadHabits>()"></select>
                                            <span asp-validation-for="BadHabits"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">

                                            <label asp-for="Financial"></label>
                                            <select asp-for="Financial" asp-items="Html.GetEnumSelectList<EnumUser.Financial>()"></select>
                                            <span asp-validation-for="Financial"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            
                                            <input type="hidden" asp-for="Email" />
                                            <span asp-validation-for="Email"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">

                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <label asp-for="Avatar"></label>
                                            <input type="file" asp-for="Avatar" />

                                        </div>
                                    </div>
                                </div>








                                <!-- Button -->
                                <div class="form-group col-md-10">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-warning submit-button">Save</button>

                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div><!--row close-->
                </div><!--container close -->
            </div><!--tab-pane close-->
        </div><!--tab-content close-->
    </div><!--container close-->
</section><!--section close-->
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>