﻿@model FinalTask.WEB.ViewModels.SearchViewModel
@{
    Layout = "_User";

}
<link href="~/css/profile.css" rel="stylesheet">
@{await Html.RenderPartialAsync("_Search");}



<body>
    <div class="all-fields">
        @foreach (var item in Model.UserProfile)
        {

            int Age = (DateTime.Now.Year - item.Date.Year);


        <div class="container" style="margin-top: 30px;">
            <div class="profile-head">
                <div class="col-md- col-sm-4 col-xs-12">
                    <img class="img-responsive" src=@Html.DisplayFor(modelItem => item.Path) />

                </div>

                <div class="col-md-5 col-sm-5 col-xs-12">
                    <h5> @Html.DisplayFor(modelItem => item.Name)</h5>

                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">

                    <h5> @Age</h5>

                </div>
                <br />
                <hr />
            </div>
            <br />
            <hr />
        </div>
            <br />
            <hr />
        }
    </div>
</body>
</html>
